<nav>
    <div class="site-title">
        <a href=""><h1>Node js</h1></a>
        <p>A Blog Site</p>
    </div>
    <ul>
        <li> <a href="/">Blogs</a></li>
        <li> <a href="/about">About</a></li>
        <li> <a href="/blog/create">New Blog</a></li>
        <li> <a href="/blog/contact">Contact US</a></li>
        <li> <a href="/blog/login">Login</a></li>
    </ul>
</nav>