<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="about-content">
        <p>About Us</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum consectetur, dolores reiciendis suscipit provident exercitationem qui perferendis, nulla tempore perspiciatis, necessitatibus earum dolore accusamus quaerat repellat autem officiis magni praesentium tenetur sed. Voluptate eveniet cum qui nihil tempore error! Nobis illum dolorem ipsa quo sequi odit minima eaque vitae animi.</p>
        <p>My Name is Khadijat, i am a web developer</p>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>

</html>