<html>
    <%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>
        <div class="contact">
            <h2>Welcome to the Contact page</h2>
        </div>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>