<html>
    <%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>
        <h2>Welcome to the Login page</h2>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>